<% content_for :dashboard do %>

  <div class="container-fluid">

    <div class="row">

      <div class="sidebar col-sm-3 col-md-2">

        <ul class="nav nav-sidebar">

          <li class="active">
            <a href="#">Overview</a>
          </li>

        </ul>

      </div>

      <div class="main col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">

        <h1 class="page-header">Travels</h1>

          <div class="table-responsive">

            <table class="table table-striped table-hover table-responsive">

              <thead>
                <tr>
                  <th class="col-md-4 col-sm-4">
                    Origin
                  </th>
                  <th class="col-md-5 col-sm-5">
                    Destination
                  </th>
                  <th class="col-md-2 col-sm-2">
                    Item
                  </th>
                  <th class="col-md-1 col-sm-1">
                    Status
                  </th>
                </tr>
              </thead>

              <tbody>

                <% @travels.each do |travel| %>

                  <tr>
                    <td>
                      <%= travel.origin.address %>
                    </td>
                    <td>
                      <ul>
                        <% travel.destinations.each do |d| %>
                          <li><%= d.address %></li>
                        <% end %>
                      </ul>
                    </td>
                    <td>
                      <% travel.destinations.each do |d| %>
                        <li>
                          <% d.items.each do |i| %>
                            <%= "#{ i.name }, " %>
                          <% end %>
                        </li>
                      <% end %>
                    </td>
                    <td>
                      <%= travel.state %>
                    </td>
                  </tr>

                <% end %>

              </tbody>

            </table>

          </div>

      </div>

    </div>

  </div>

<% end %>