<div class="container-fluid">

  <div class="row">

    <div class="sidebar col-sm-3 col-md-2">

      <ul class="nav nav-sidebar">

        <li class="active">
          <a href="#">Overview</a>
        </li>

      </ul>

    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h1 class="page-header">Travels</h1>

        <div class="table-responsive">

          <table class="table table-striped">

            <thead>
              <tr>
                <th>
                  Origin
                </th>
                <th>
                  Destination
                </th>
                <th>
                  Item
                </th>
                <th>
                  Status
                </th>
              </tr>
            </thead>

            <tbody>

              <% @travels.each do |travel| %>

                <tr>
                  <td>
                    <%= travel.origin.address %>
                  </td>
                  <td>
                    <%= travel.destination.address %>
                  </td>
                  <td>
                    <%= travel.items.all.map { |i| i.name } %>
                  </td>
                  <td>
                    <%= travel.state %>
                  </td>
                </tr>

              <% end %>

            </tbody>

          </table>

        </div>

    </div>

  </div>

</div>