<%= form.fields_for(:destination, Travels::Places::Destination.new) do |subform|  %>

  <!--<div class="col-sm-3">-->
    <!--<%= subform.label :destination %>-->
  <!--</div>-->

  <div class="col-sm-12">
    <%= subform.text_field :address,      placeholder:  'Destination',
                                          data: {
                                              tracking_target: 'destination'
                                          },
                                          class: "form-control" %>
  </div>

  <%= subform.text_field :coordinates,  type:         'hidden' %>

<% end %>