<!--<div class="col-sm-3">-->
  <!--<%# form.label :destination %>-->
<!--</div>-->

<div data-tracking-target=<%= local_assigns[:id] || "destination" %>>
  <%= form.text_field :address,     placeholder:  "Destination",
                                    class:        "address form-control" %>

  <%= form.text_field :coordinates, type:         "hidden",
                                    class:        "coordinates" %>
</div>

<%= link_to_add_fields(form, "$(this)", :items) %>