<%= form.fields_for(:origin, Travels::Places::Origin.new) do |subform|      %>

  <!--<div class="col-sm-3">-->
    <!--<%= subform.label      :origin %>-->
  <!--</div>-->

  <div class="col-sm-12">
    <%= subform.text_field :address,    placeholder:  'Origin',
                                        data: {
                                            tracking_target: 'origin'
                                        },
                                        class:  "form-control" %>
  </div>

  <%= subform.text_field :coordinates,  type:   "hidden" %>

<% end %>