<!--<div class="col-sm-3">-->
  <!--<%# form.label      :origin %>-->
<!--</div>-->

<div data-tracking-target="origin">

  <%= form.text_field :address,     placeholder:  "Origin",
                                    class:        "address form-control" %>

  <%= form.text_field :coordinates, type:         "hidden",
                                    class:        "coordinates" %>

</div>