<%= form.fields_for(:origin, Travels::Places::Origin.new) do |subform|      %>

  <!--<div class="col-sm-3">-->
    <!--<%= subform.label      :origin %>-->
  <!--</div>-->

  <div class="col-sm-12" data-tracking-target="origin">

    <%= subform.text_field :address,      placeholder:  "Origin",
                                          class:        "address form-control" %>

    <%= subform.text_field :coordinates,  type:         "hidden",
                                          class:        "coordinates" %>

  </div>

<% end %>