
<style type="text/css">

  /*= depend_on_asset 'form.png' */
  /*= depend_on_asset 'nav.png' */
  /*= depend_on_asset 'routes.png' */

  .featurette .lead {
    font-family: "Helvetica Neue", Arial, serif;
    font-weight: 100;
  }

  .featurette .featurette-heading {
    font-weight: 200;
  }

</style>

<div class="row featurette">

  <div class="col-md-7 col-sm-7">
    <h3 class="featurette-heading">
      Создайте заказ
    </h3>

    <p class="lead">
      Нажмите кнопку "Создать" на верхней навигационной панели
    </p>
  </div>

  <div class="col-md-5 col-sm-5">
    <%= image_tag image_path('help/tutorial/nav.png'), alt: "300x500", class: "featurette-image img-responsive" %>
    <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">-->
  </div>

</div>

<hr class="featurette-divider">

<div class="row featurette">

  <div class="col-md-5 col-sm-5">
    <%= image_tag image_path('help/tutorial/form.png'), alt: "700x500", class: "featurette-image img-responsive" %>
    <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">-->
  </div>

  <div class="col-md-7 col-sm-7">
    <h3 class="featurette-heading">
      Заполните форму заказа
    </h3>

    <div class="lead">

      Заполните обязательные пункты:
      <ul>
        <li>Пункт отправления</li>
        <li>Пункт назначения</li>
        <li>Окно ожидаемого времени доставки</li>
        <li>Наименование груза</li>
        <li>Фактический вес (приблизительно)</li>
      </ul>

      Кнопки "Добавить адрес" и "Добавить груз" помогут Вам добавить в данный заказ пункты назначения или же наименования груза соответственно.
    </div>

  </div>

</div>

<hr class="featurette-divider">

<div class="row featurette">

  <div class="col-md-12 col-sm-12">
    <h3 class="featurette-heading">
      Выберите маршрут
    </h3>

    <p class="lead">
      Ознакомьтесь с предложенными маршрутами и выберите наиболее подходящий Вам.
      Наша система прокладывает наиболее эффективные маршруты, позволяя нам минимизировать собственные издержки, предлагая для Вас лучшие цены и лучшее качество.
    </p>
  </div>

  <div class="col-md-12 col-sm-12">
    <%= image_tag image_path('help/tutorial/routes.png'), alt: "700x800", class: "featurette-image img-responsive" %>
    <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">-->
  </div>

</div>