
<% content_for :map_overlay do %>

  <div class="map-overlay col-sm-12">

    <div class="container">

      <div class="form-signin">

        <h2 class="form-signin-heading">Please sign-in</h2>

        <%= form_tag sessions_path, class: "form-horizontal", role: "form" do %>

            <%= phone_field_tag     :phone,     params[:phone], { id: "phone",    class: "form-control", placeholder: "Phone" } %>
            <%= password_field_tag  :password,  nil,            { id: "password", class: "form-control", placeholder: "Password" } %>

            <button type="submit" class="btn btn-primary">Log in</button>

        <% end %>

      </div>

    </div>

  </div>

<% end %>