
<% content_for :dashboard do %>

  <h1 class="page-header">Dashboard</h1>

  <%= link_to new_admin_user_path do %>
    <button class="btn btn-primary">Create account</button>
  <% end %>

<% end -%>
