<style type="text/css">

  /*.dimmed {*/
    /*position: fixed;*/
    /*margin-top: 50px;*/
    /*width: auto;*/
    /*height: auto;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*background: rgb(0, 0, 0);*/
    /*background: rgba(0, 0, 0, .5);*/
    /*padding: 1px;*/
  /*}*/

  .user-details {
    position: relative;
    padding: 50pt 0 0;
    width: 225pt;
    margin: auto;
  }

  .user-details .user-image {
    margin-top: -50pt;
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
  }

  .user-image img {
    clear: both;
    margin: auto;
    position: relative;
    width: 100pt;
    height: 100pt;
    border: 1px solid #808080;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 32, .5);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 32, .5);
    box-shadow: 0 1px 2px rgba(0, 0, 32, .5);
  }

  .user-details .user-info-block {
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: 0;
    padding-top: 1px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 32, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 32, .5);
    box-shadow: 0 0 5px rgba(0, 0, 32, .5);
  }

  .user-info-block .user-info-heading {
    width: 100%;
    text-align: center;
    margin: 10px 0 0;
  }

  .user-info-heading h3 {
    margin-top: 0;
    font-weight: 300;
  }

  .user-info-block .navigation {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #428BCA;
    border-top: 1px solid #428BCA;
    text-align: center;
  }

  .navigation li {
    display: inline-block;
    margin: 0;
    padding: 15pt 20pt;
  }

  .navigation li .active a {
    background: #428BCA;
    color: #fff;
  }

  .user-info-block .user-info-body {
    padding: 5%;
    width: 100%;
  }

  .user-info-body .tab-content > .active {
    min-height: 20pt;
    width: 100%;
    text-align: center;
  }

  .user-info-body .tab-content h4 {
    width: 100%;
    margin: 10px 0;
    color: #333;
  }

  .user-details {
    opacity: 1;
  }
</style>

<% user = local_assigns[:user] %>

<div class="user-details">

  <div class="user-info-block">

    <div class="user-image">
      <img src="http://en.gravatar.com/userimage/47185846/e5eebf3b44330eeb6c056ff7e043401c.jpg?size=150" alt="Kudinkin Alexey" title="Kudinkin Alexey" class="img-circle"/>
    </div>

    <div class="user-info-heading">
      <h3><%= user.name %></h3>
      <span class="help-block">Saint-Petersburg, RU</span>
    </div>

    <ul class="navigation">
      <li class="active">
        <a data-toggle="tab" href="#information">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </li>

      <li>
        <a data-toggle="tab" href="#contacts">
          <span class="glyphicon glyphicon-envelope"></span>
        </a>
      </li>
    </ul>

    <div class="user-info-body">
      <div class="tab-content">
        <div id="information" class="tab-pane active">
          Info?
        </div>

        <div id="contacts" class="tab-pane">
            <div>
              Phone: <%= user.phone %>
            </div>
            <div>
              Email: <%= user.email %>
            </div>

        </div>
      </div>
    </div>

  </div>

</div>