<style type="text/css">

  .dimmed {
    position: fixed;
    margin-top: 50px;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .5);
    padding: 1px;
  }

  .user-details {
    position: relative;
    padding: 50pt 0 0;
    width: 225pt;
    margin: auto;
  }

  .user-details .user-image {
    margin-top: -50pt;
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
  }

  .user-image img {
    clear: both;
    margin: auto;
    position: relative;
    width: 100pt;
    height: 100pt;
    border: 1px solid #808080;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 32, .5);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 32, .5);
    box-shadow: 0 1px 2px rgba(0, 0, 32, .5);
  }

  .user-details .user-info-block {
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: 0;
    padding-top: 1px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 32, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 32, .5);
    box-shadow: 0 0 5px rgba(0, 0, 32, .5);
  }

  .user-info-block .user-heading {
    width: 100%;
    text-align: center;
    margin: 10px 0 0;
  }

  .user-heading h3 {
    margin-top: 0;
    font-weight: 300;
  }

  .user-info-block .navigation {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #428BCA;
    border-top: 1px solid #428BCA;
    text-align: center;
  }

  .navigation li {
    display: inline-block;
    margin: 0;
    padding: 15pt 20pt;
  }

  .navigation li .active a {
    background: #428BCA;
    color: #fff;
  }

  .user-info-block .user-body {
    padding: 5%;
    width: 100%;
  }

  .user-body .tab-content > .active {
    min-height: 20pt;
    width: 100%;
    text-align: center;
  }

  .user-body .tab-content h4 {
    width: 100%;
    margin: 10px 0;
    color: #333;
  }

  .user-details {
    opacity: 1;
  }
</style>

<% user = local_assigns[:user] %>

<div class="user-details">

  <div class="user-info-block">

    <div class="user-image">
      <img class="img-circle" alt="140x140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 140px; height: 140px;">
    </div>

    <div class="user-heading">
      <h3><%= user.name %></h3>
      <span class="help-block">Saint-Petersburg, RU</span>
    </div>

    <ul class="navigation">
      <li class="active">
        <a data-toggle="tab" href="#information">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </li>

      <li>
        <a data-toggle="tab" href="#contacts">
          <span class="glyphicon glyphicon-envelope"></span>
        </a>
      </li>
    </ul>

    <div class="user-body">
      <div class="tab-content">
        <div id="information" class="tab-pane active">
          Info?
        </div>

        <div id="contacts" class="tab-pane">
            <div>
              Phone: <%= user.phone %>
            </div>
            <div>
              Email: <%= user.email %>
            </div>

        </div>
      </div>
    </div>

  </div>

</div>