<style type="text/css">

  .user-details {
    position: relative;
    width: 40pt;
    height: 40pt;
    /*  Unfortunately, this isn't an option since user may move the cursor at
        the rather good pace slipping through the "safety-zone" */
    /*padding-top: 10pt;*/
    /*padding-right: 10pt;*/
    /*padding-bottom: 10pt;*/
    /*box-sizing: content-box;*/
  }

  .user-details .user-info-block {
    width: 100%;
    /*z-index: 0;*/
    padding-top: 1px;
  }

  .user-info-block .user-image {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 101;
  }

  .user-image img {
    clear: both;
    margin: auto;
    position: relative;
    width: 40pt;
    height: 40pt;
    border: 1px solid #808080;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 32, .5);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 32, .5);
    box-shadow: 0 1px 2px rgba(0, 0, 32, .5);
  }

  .user-info-block .popover-wrapper {
    z-index: 1
  }

  .user-info-panel-small {
    position: absolute;
    height: 50pt;
    width: 200pt;

    top: -5pt;
    left: -5pt;

    padding-left: 50pt;

    border-radius: 25pt 2pt 2pt 25pt;

    display: none;

    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 32, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 32, .5);
    -o-box-shadow: 0 0 5px rgba(0, 0, 32, .5);
    box-shadow: 0 0 5px rgba(0, 0, 32, .5);
  }

  .user-info-panel-small .user-info-heading {
    width: 100%;
    text-align: center;
    margin: 5pt 0 5pt 0;
  }

  .user-info-heading h3 {
    font-weight: 200;
    margin: 0;
  }

  .user-info-panel-small .user-info-body {
    padding-bottom: 5pt;
    text-align: center;
  }

  .user-details {
    opacity: 1;
  }

</style>

<%  user    = locals[:user]
    default = "http://en.gravatar.com/userimage/47185846/e5eebf3b44330eeb6c056ff7e043401c.jpg?size=75" -%>

<div class="user-details">

  <div class="popover-wrapper">

    <div class="user-info-block">

      <div id="user-thumbnail">
        <div class="user-image">
          <img <%= "src=\"#{default}\" alt=\"#{user.name}\" title=\"#{user.name}\"".html_safe %> class="img-circle"/>
        </div>
      </div>

      <div class="user-info-panel-small">

        <div class="user-info-heading">
          <h3><%= user.name %></h3>
        </div>

        <div class="user-info-body">
          <div class="tab-content">
            <div id="contacts" class="tab-panel">
              +<%= user.phone %>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

<script type="text/javascript">

  $(document).ready(function() {
    var popWrapper, userDetails, userThumbnail, userInfoPanel;

    function fIn() {

      console.log("fIn");

      userThumbnail = $(this);
      userDetails   = userThumbnail .closest(".user-details");
      popWrapper    = userDetails   .children(".popover-wrapper");

      var wrapperOffset = popWrapper.offset();

      // Rebind it at 'body' level
      $(".content").append(popWrapper);

      popWrapper.css({
        position:   "absolute",
        top:        wrapperOffset.top,
        left:       wrapperOffset.left,
        'z-index':  100
      });

      // Make user-panel visible
      userInfoPanel = userThumbnail.next(".user-info-panel-small");

      userInfoPanel.css({
        display: "block"
      });

      // Late binding to prevent blinking, when
      // popover is actually re-binded to the up-level div
      userThumbnail.on('mouseleave', fOut);
    }

    function fOut(event) {

      console.log("fOut");

      // Make user-panel invisible (again)
      userInfoPanel.css({
        display: "none"
      });

      userDetails.append(popWrapper);

      popWrapper.css({
        position:   "static",
        top:        "auto",
        left:       "auto",
        'z-index':  "auto"
      });

      userThumbnail.off('mouseleave', fOut);

      // Ok, we just re-deliver the event, since popover floating
      // above the panel and "shielding" it from any mouse events
      userDetails.trigger('mouseleave');
    }

    $("#user-thumbnail")
      .on('mouseenter', fIn)
      .on('mouseleave', fOut);
  });

</script>