
<% content_for :map_overlay do %>

  <div class="map-overlay">

    <div class="container">

      <div class="row">

        <div class="col-sm-4 col-md-4 col-sm-offset-4 col-md-offset-4">

          <%= render 'large' %>

        </div>

      </div>

    </div>

  </div>

<% end %>